* { margin: 0; padding: 0; }

ul {
  list-style-type: none;
}

.main-content {
  min-height: 50vh;
}

.search-filters fieldset {
  padding: 20px;
  margin: 20px;
  border: 1px solid lightgray;
  border-radius: 4px;
}

.sort-section {
  border: 1px solid lightgray;
  padding: 20px;
  border-radius: 8px;
  margin-bottom: 20px;
}

.results .thumbnail {
  max-width: 175px;
  height: auto;
}

.result-item {
  display: flex;
  padding: 20px 0;
  margin: 10px 0;
  border-bottom: 1px solid darkgray;
}

.game-details {
  flex-wrap: wrap;
  border-radius: 4px;
}

.random-container {
  margin-top: 2em;
}

.random-container h3 {
  text-align: center;
}

.button-random {
  margin-top: 2em;
  text-align: center;
}

@media only screen and (max-width: 600px) {
  .result-item {
    flex-direction: column;
  }

  .game-thumbnail {
    text-align: center;
  }
}