* { margin: 0; padding: 0; }

body {
  font-family: 'Source Sans Pro', sans-serif;
  background-color: #f2f2f2;
  font-size: 100%;
}

main {
  margin: 0 auto;
}

.system-message {
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  left: 50%;
  padding: 25px;
  text-align: center;
  background: darkgray;
  color: white;
}

.search-filters {
  margin-bottom: 50px;
}

.results {

}

.filter {
  padding: 10px 0;
}

.sorting {
  text-align: right;
}

.results .thumbnail {
  max-width: 175px;
  height: auto;
}

ul {
  list-style-type: none;
}

.result-item {
  display: flex;
  padding: 20px 0;
  margin: 10px 0;
  border-bottom: 1px solid darkgray;
}

.result-number {
  color: gray;
  font-size: 1.5em;
  padding-right: 0.25em;
}

.result-item .game-thumbnail {
  padding: 20px;
}

.result-item .game-title {
  font-size: 1.5em;
  display: inline;
}

.result-item .game-info {
  padding: 0 20px 20px 0;
}

.result-item .game-description {
  margin-top: 20px;
}

.game-details {
  display: flex;
  flex-wrap: wrap;
  background-color: gainsboro;
  margin-top: 20px;
  padding: 10px 20px 10px 0;
  border-radius: 4px;
}

.game-detail {
  padding: 10px 20px;
}

.game-details .detail-title {
  font-weight: 700;
  display: block;
}

/* TYPOGRAPHY */
h1 {
  text-align: center;
  font-size: 2.2em;
}
