* { margin: 0; padding: 0; }

ul {
  list-style-type: none;
}

.main-content {
  min-height: 50vh;
}

.result-item {
  display: flex;
  padding: 20px 0;
  margin: 10px 0;
  border-bottom: 1px solid darkgray;
}

.game-details {
  flex-wrap: wrap;
  border-radius: 4px;
}

@media only screen and (max-width: 600px) {
  .result-item {
    flex-direction: column;
  }

  .game-thumbnail {
    text-align: center;
  }
}